/* 
    Document   : kap-angular-theme
    Created on : 24-Feb-2013, 17:32:49
    Author     : Matus Zeman <mz@kapitchi.com>
    Description:
        Purpose of the stylesheet follows.
*/

.col0 {
    width: 100px;
}